[Unit]
Description=Weekly backup timer for josh_user_backup
Requires=josh_user_backup.service

[Timer]
OnCalendar=weekly
Persistent=true

[Install]
WantedBy=timers.target