[Unit]
Description=Weekly backup timer for orzo sd card full backup

[Timer]
OnCalendar=*-*-01 03:00:00
Persistent=true

[Install]
WantedBy=timers.target